<ul>
  <li><a href="StructureDefinition-chf-bodyweight.html">CHF Body Weight</a> <p>CHF Body Weight (in kg) Profile</p>
  </li>
   <li><a href="StructureDefinition-chf-bodyweight-change.html">CHF Body Weight Change</a> <p>CHF Body Weight Change (in kg) Profile</p>
  </li>
   <li><a href="StructureDefinition-chf-cardiology-consult.html">CHF Cardiology Consult</a> <p>Documents a procedure as an activity within the context of a computable clinical practice guideline</p>
  </li>
   <li><a href="StructureDefinition-chf-cardiology-consult-request.html">CHF Cardiology Consult Request</a> <p>Request for a cardiology consultation as part of a congestive heart failure pathway</p>
  </li>
   <li><a href="StructureDefinition-chf-creatinine.html">CHF Creatinine</a> <p>CHF Creatinine (in mg/dL) Profile</p>
  </li>
   <li><a href="StructureDefinition-chf-jvp.html">CHF Jugular Venous Pressure</a> <p>CHF Jugular Venous Pressure (in cmH2O) Profile</p>
  </li>
   <li><a href="StructureDefinition-chf-jvp-request.html">CHF Jugular Venous Pressure Request</a> <p>Request to measure jugular venous pressure as part of a congestive heart failure pathway</p>
  </li>
   <li><a href="StructureDefinition-chf-lasix-iv-administration.html">CHF LASIX IV Administration</a> <p>Documents the administration of LASIX IV as a pathway event within a congestive heart failure pathway</p>
  </li>
   <li><a href="StructureDefinition-chf-lasix-iv-request.html">CHF LASIX IV Request</a> <p>Request to administer LASIX IV as part of a congestive heart failure pathway</p>
  </li>
   <li><a href="StructureDefinition-chf-lasix-po-administration.html">CHF LASIX PO Administration</a> <p>Documents the administration of LASIX PO as a pathway event within a congestive heart failure pathway</p>
  </li>
   <li><a href="StructureDefinition-chf-lasix-po-request.html">CHF LASIX PO Request</a> <p>Request to administer LASIX PO as part of a congestive heart failure pathway</p>
  </li>
   <li><a href="StructureDefinition-chf-net-io.html">CHF Net Intake/Output</a> <p>CHF Net Intake/Output (in L/day) Profile</p>
  </li>
   <li><a href="StructureDefinition-chf-o2-sat.html">CHF Oxygen Saturation</a> <p>CHF Oxygen Saturation (%) Profile</p>
  </li>
   <li><a href="StructureDefinition-chf-o2-sat-request.html">CHF Oxygen Saturation Request</a> <p>Request to measure oxygen saturation as part of a congestive heart failure pathway</p>
  </li>
   <li><a href="StructureDefinition-chf-potassium.html">CHF Potassium</a> <p>CHF Potassium (in meq/L) Profile</p>
  </li>
   <li><a href="StructureDefinition-chf-urine-out.html">CHF Urine Out</a> <p>CHF Urine Output (in L/day) Profile</p>
  </li>
   <li><a href="StructureDefinition-chf-egfr.html">CHF eGFR</a> <p>CHF EGFR (in mol/mm/m2) Profile</p>
  </li>
</ul>
