<ul>
  <li><a href="ActivityDefinition-activity-example-ordermedication.html">Activity Example Order Medication</a> <p>Example Activity Definition for a recommendation to order a medication</p>
  </li>
  <li><a href="ActivityDefinition-chf-lasix-iv.html">CHF LASIX IV</a> <p>Activity definition to administer LASIX IV as part of a congestive heart failure pathway</p>
  </li>
  <li><a href="ActivityDefinition-chf-lasix-po.html">CHF LASIX PO</a> <p>Activity definition to administer LASIX PO as part of a congestive heart failure pathway</p>
  </li>
</ul>
