<ul>
  <li><a href="ActivityDefinition-chf-bodyweight.html">CHF Body Weight</a> <p>Measure body weight</p>
 </li>
  <li><a href="ActivityDefinition-chf-bodyweight-change.html">CHF Body Weight Change</a> <p>Record body weight change</p>
 </li>
  <li><a href="ActivityDefinition-chf-cardiology-consultation.html">CHF Cardiology Consultation</a> <p>Cardiology consultation as part of a congestive heart failure care pathway</p>
 </li>
  <li><a href="ActivityDefinition-chf-creatinine.html">CHF Creatinine</a> <p>Monitor Creatinine</p>
 </li>
  <li><a href="ActivityDefinition-chf-egfr.html">CHF eGFR</a> <p>Measure eGFR</p>
 </li>
  <li><a href="ActivityDefinition-chf-jvp.html">CHF Jugular Venous Pressure</a> <p>Measure jugular venous pressure</p>
 </li>
  <li><a href="ActivityDefinition-chf-lasix-iv.html">CHF LASIX IV</a> <p>Activity definition to administer LASIX IV as part of a congestive heart failure pathway</p>
 </li>
  <li><a href="ActivityDefinition-chf-lasix-po.html">CHF LASIX PO</a> <p>Activity definition to administer LASIX PO as part of a congestive heart failure pathway</p>
 </li>
  <li><a href="ActivityDefinition-chf-net-io.html">CHF Net IO</a> <p>Measure net intake/output</p>
 </li>
  <li><a href="ActivityDefinition-chf-o2-sat.html">CHF Oxygen Saturation</a> <p>Monitor Oxygen Saturation</p>
 </li>
  <li><a href="ActivityDefinition-chf-potassium.html">CHF Potassium</a> <p>Monitor Potassium</p>
 </li>
  <li><a href="ActivityDefinition-chf-report-bodyweight.html">CHF Report Body Weight</a> <p>Record body weight metric</p>
 </li>
  <li><a href="ActivityDefinition-chf-report-bodyweight-change.html">CHF Report Body Weight Change</a> <p>Record body weight change metric</p>
 </li>
  <li><a href="ActivityDefinition-chf-report-urine-out.html">CHF Report Urine Out</a> <p>Record urine output metric</p>
 </li>
  <li><a href="ActivityDefinition-chf-urine-out.html">CHF Urine Out</a> <p>Measure urine output</p>
 </li>
  <li><a href="ActivityDefinition-cc-cpg-activity-edu-hypertension.html">Patient education: Managing Your High Blood Pressure (Hypertension)</a> <p>Patient education: Managing Your High Blood Pressure (Hypertension)</p>
 </li>
  <li><a href="ActivityDefinition-cc-cpg-activity-edu-renal-diet.html">Patient education: Renal diet</a> <p>Patient education: Renal diet</p>
 </li>
  <li><a href="ActivityDefinition-cc-cpg-activity-lab-creatinine.html">Lab: Creatinine, Urine Random, Once</a> <p>Lab: Creatinine, Urine Random, Once</p>
 </li>
  <li><a href="ActivityDefinition-cc-cpg-activity-lab-metabolic.html">Lab: Comprehensive Metabolic Panel, Once</a> <p>Lab: Comprehensive Metabolic Panel, Once</p>
 </li>
  <li><a href="ActivityDefinition-cc-cpg-activity-referral-dietition.html">Referral: Dietitian; History: chronic kidney disease; Question: [add reason for referral]</a> <p>Referral: Dietitian; History: chronic kidney disease; Question: [add reason for referral]</p>
 </li>
  <li><a href="ActivityDefinition-cc-cpg-activity-referral-nephrology.html">Referral: Nephrology; History: [add diagnosis, symptom(s)]; Question: [add reason for referral]</a> <p>Referral: Nephrology; History: [add diagnosis, symptom(s)]; Question: [add reason for referral]</p>
 </li>
  <li><a href="ActivityDefinition-cc-cpg-activity-ultrasound-renal.html">Ultrasound, Renal; History: [add diagnosis, symptom(s)]; Question: [add reason for exam]</a> <p>Ultrasound, Renal; History: [add diagnosis, symptom(s)]; Question: [add reason for exam]</p>
 </li>
  <li><a href="ActivityDefinition-ckd-risk-referral-nephrology.html">Referral to Nephrologist</a> <p>Create ServiceRequest to order Referral for nephrology.</p>
 </li>
  <li><a href="ActivityDefinition-ckd-risk-renal-lab-order.html">Order Renal Lab Panel</a> <p>Create ServiceRequest to order Renal lab panel.</p>
 </li>
  <li><a href="ActivityDefinition-opioidcds-riskassessment-request.html">CDC Opioid Prescribing Guideline Recommendation #7 - Risk Assessment ProcedureRequest</a> <p>As part of the workflow for recommendation 7, it is recommended that a risk assessment be conducted if the inclusion criteria is met.</p>
 </li>
  <li><a href="ActivityDefinition-activity-example-administermedication.html">Activity Example Administer Medication</a> <p>Example Activity Definition for a recommendation to administer a medication</p>
 </li>
  <li><a href="ActivityDefinition-activity-example-collectinformation.html">Activity Example Collect Information</a> <p>Example Activity Definition for a recommendation to collect information</p>
 </li>
  <li><a href="ActivityDefinition-activity-example-dispensemedication.html">Activity Example Dispense Medication</a> <p>Example Activity Definition for a recommendation to dispense a medication</p>
 </li>
  <li><a href="ActivityDefinition-activity-example-documentmedication.html">Activity Example Document Medication</a> <p>Example Activity Definition for a recommendation to document a medication</p>
 </li>
  <li><a href="ActivityDefinition-activity-example-donotcollectinformation.html">Activity Example Do Not Collect Information</a> <p>Example Activity Definition for a recommendation not to collect information</p>
 </li>
  <li><a href="ActivityDefinition-activity-example-donotsendmessage.html">Activity Example Do Not Send Message</a> <p>Example Activity Definition for a recommendation not to send a message</p>
 </li>
  <li><a href="ActivityDefinition-activity-example-enrollment.html">Activity Example Enrollment</a> <p>Example Activity Definition for a recommendation to enroll a patient in a pathway</p>
 </li>
  <li><a href="ActivityDefinition-activity-example-generatereport.html">Activity Example Generate Report</a> <p>Example Activity Definition for a recommendation to generate a report</p>
 </li>
  <li><a href="ActivityDefinition-activity-example-ordermedication.html">Activity Example Order Medication</a> <p>Example Activity Definition for a recommendation to order a medication</p>
 </li>
  <li><a href="ActivityDefinition-activity-example-orderservice.html">Activity Example Order Service</a> <p>Example Activity Definition for a recommendation to order a service</p>
 </li>
  <li><a href="ActivityDefinition-activity-example-proposediagnosis.html">Activity Example Propose Diagnosis</a> <p>Example Activity Definition for a recommendation to propose a diagnosis</p>
 </li>
  <li><a href="ActivityDefinition-activity-example-recommendimmunization.html">Activity Example Recommend Immunization</a> <p>Example Activity Definition for a recommendation to provide an immunization</p>
 </li>
  <li><a href="ActivityDefinition-activity-example-recorddetectedissue.html">Activity Example Record Detected Issue</a> <p>Example Activity Definition for a recommendation to record a detected issue</p>
 </li>
  <li><a href="ActivityDefinition-activity-example-recordinference.html">Activity Example Record Inference</a> <p>Example Activity Definition for a recommendation to record an inference</p>
 </li>
  <li><a href="ActivityDefinition-activity-example-reportflag.html">Activity Example Report Flag</a> <p>Example Activity Definition for a recommendation to report a flag</p>
 </li>
  <li><a href="ActivityDefinition-activity-example-sendmessage.html">Activity Example Send Message</a> <p>Example Activity Definition for a recommendation to send a message</p>
 </li>
</ul>
