<ul>
<li><a href="ActivityDefinition-activity-example-administermedication.html">Activity Example Administer Medication</a> <p>Example Activity Definition for a recommendation to administer a medication</p>
</li>
<li><a href="Library-AdministerMedication.html">Administer Medication</a> <p>Logic for an example recommendation to administer a medication</p>
</li>
<li><a href="PlanDefinition-activity-example-administermedication.html">Activity Example Administer Medication</a> <p>Example Plan Definition for a recommendation to administer a medication</p>
</li>
</ul>
