<ul>
  <li><a href="ActivityDefinition-activity-example-orderservice.html">Activity Example Order Service</a> <p>Example Activity Definition for a recommendation to order a service</p>
  </li>
  <li><a href="ActivityDefinition-chf-bodyweight.html">CHF Body Weight</a> <p>Measure body weight</p>
  </li>
  <li><a href="ActivityDefinition-chf-cardiology-consultation.html">CHF Cardiology Consultation</a> <p>Cardiology consultation as part of a congestive heart failure care pathway</p>
  </li>
  <li><a href="ActivityDefinition-chf-creatinine.html">CHF Creatinine</a> <p>Monitor Creatinine</p>
  </li>
  <li><a href="ActivityDefinition-chf-egfr.html">CHF eGFR</a> <p>Measure eGFR</p>
  </li>
  <li><a href="ActivityDefinition-chf-jvp.html">CHF Jugular Venous Pressure</a> <p>Measure jugular venous pressure</p>
  </li>
  <li><a href="ActivityDefinition-chf-net-io.html">CHF Net IO</a> <p>Measure net intake/output</p>
  </li>
  <li><a href="ActivityDefinition-chf-o2-sat.html">CHF Oxygen Saturation</a> <p>Monitor Oxygen Saturation</p>
  </li>
  <li><a href="ActivityDefinition-chf-potassium.html">CHF Potassium</a> <p>Monitor Potassium</p>
  </li>
  <li><a href="ActivityDefinition-chf-urine-out.html">CHF Urine Out</a> <p>Measure urine output</p>
  </li>
  <li><a href="ActivityDefinition-cc-cpg-activity-edu-hypertension.html">Patient education: Managing Your High Blood Pressure (Hypertension)</a> <p>Patient education: Managing Your High Blood Pressure (Hypertension)</p>
  </li>
  <li><a href="ActivityDefinition-cc-cpg-activity-edu-renal-diet.html">Patient education: Renal diet</a> <p>Patient education: Renal diet</p>
  </li>
  <li><a href="ActivityDefinition-cc-cpg-activity-lab-creatinine.html">Lab: Creatinine, Urine Random, Once</a> <p>Lab: Creatinine, Urine Random, Once</p>
  </li>
  <li><a href="ActivityDefinition-cc-cpg-activity-lab-metabolic.html">Lab: Comprehensive Metabolic Panel, Once</a> <p>Lab: Comprehensive Metabolic Panel, Once</p>
  </li>
  <li><a href="ActivityDefinition-cc-cpg-activity-referral-dietition.html">Referral: Dietitian; History: chronic kidney disease; Question: [add reason for referral]</a> <p>Referral: Dietitian; History: chronic kidney disease; Question: [add reason for referral]</p>
  </li>
  <li><a href="ActivityDefinition-cc-cpg-activity-referral-nephrology.html">Referral: Nephrology; History: [add diagnosis, symptom(s)]; Question: [add reason for referral]</a> <p>Referral: Nephrology; History: [add diagnosis, symptom(s)]; Question: [add reason for referral]</p>
  </li>
  <li><a href="ActivityDefinition-cc-cpg-activity-ultrasound-renal.html">Ultrasound, Renal; History: [add diagnosis, symptom(s)]; Question: [add reason for exam]</a> <p>Ultrasound, Renal; History: [add diagnosis, symptom(s)]; Question: [add reason for exam]</p>
  </li>
  <li><a href="ActivityDefinition-ckd-risk-referral-nephrology.html">Referral to Nephrologist</a> <p>Create ServiceRequest to order Referral for nephrology.</p>
  </li>
  <li><a href="ActivityDefinition-ckd-risk-renal-lab-order.html">Order Renal Lab Panel</a> <p>Create ServiceRequest to order Renal lab panel.</p>
  </li>
</ul>
