<table class="list">
	<tr>
		<th><b>Example</b></th>
		<th><b>id</b></th>
		<th colspan="2"><b>Format</b></th>
	</tr>
	<tr>
		<td><a href="Library-anc-common.html">ANC Common Logic Library</a></td>
		<td>anc-common</td>
		<td><a href="Library-anc-common.xml.html">XML</a></td>
		<td><a href="Library-anc-common.json.html">JSON</a></td>
	</tr>
	<tr>
		<td><a href="Library-anc-recommendation-a2.html">ANC Recommendation #2 Logic Library</a></td>
		<td>anc-recommendation-a2</td>
		<td><a href="Library-anc-recommendation-a2.xml.html">XML</a></td>
		<td><a href="Library-anc-recommendation-a2.json.html">JSON</a></td>
	</tr>
	<tr>
		<td><a href="Library-library-hep-b-adult-forecasting.html">Hepatitis B Adult Immunization Forecasting Logic Library</a></td>
		<td>library-hep-b-adult-forecasting</td>
		<td><a href="Library-library-hep-b-adult-forecasting.xml.html">XML</a></td>
		<td><a href="Library-library-hep-b-adult-forecasting.json.html">JSON</a></td>
	</tr>
	<tr>
		<td><a href="Library-omtklogic.html">Opioid Management Terminology Knowledge Logic Library</a></td>
		<td>omtklogic-0-0-1</td>
		<td><a href="Library-omtklogic.xml.html">XML</a></td>
		<td><a href="Library-omtklogic.json.html">JSON</a></td>
	</tr>
	<tr>
		<td><a href="Library-opioidcds-r4-common.html">Opioid R4 Common Logic Library</a></td>
		<td>opioidcds-r4-common</td>
		<td><a href="Library-opioidcds-r4-common.xml.html">XML</a></td>
		<td><a href="Library-opioidcds-r4-common.json.html">JSON</a></td>
	</tr>
	<tr>
		<td><a href="Library-opioidcds-r4-recommendation-05.html">Opioid R4 Recommendation #5 Logic Library</a></td>
		<td>opioidcds-r4-recommendation-05</td>
		<td><a href="Library-opioidcds-r4-recommendation-05.xml.html">XML</a></td>
		<td><a href="Library-opioidcds-r4-recommendation-05.json.html">JSON</a></td>
	</tr>
</table>
