<ul>
  <li><a href="Goal-chf-scenario1-cardiology-consultation.html">Goal/chf-scenario1-cardiology-consultation</a> Goal/chf-scenario1-cardiology-consultation</li>
  <li><a href="Goal-chf-scenario1-creatinine.html">Goal/chf-scenario1-creatinine</a> Goal/chf-scenario1-creatinine</li>
  <li><a href="Goal-chf-scenario1-egfr.html">Goal/chf-scenario1-egfr</a> Goal/chf-scenario1-egfr</li>
  <li><a href="Goal-chf-scenario1-jvp.html">Goal/chf-scenario1-jvp</a> Goal/chf-scenario1-jvp</li>
  <li><a href="Goal-chf-scenario1-lasix-iv.html">Goal/chf-scenario1-lasix-iv</a> Goal/chf-scenario1-lasix-iv</li>
  <li><a href="Goal-chf-scenario1-lasix-po.html">Goal/chf-scenario1-lasix-po</a> Goal/chf-scenario1-lasix-po</li>
  <li><a href="Goal-chf-scenario1-net-io.html">Goal/chf-scenario1-net-io</a> Goal/chf-scenario1-net-io</li>
  <li><a href="Goal-chf-scenario1-o2-sat.html">Goal/chf-scenario1-o2-sat</a> Goal/chf-scenario1-o2-sat</li>
  <li><a href="Goal-chf-scenario1-potassium.html">Goal/chf-scenario1-potassium</a> Goal/chf-scenario1-potassium</li>
  <li><a href="Goal-chf-scenario1-urine-out.html">Goal/chf-scenario1-urine-out</a> Goal/chf-scenario1-urine-out</li>
  <li><a href="Goal-chf-scenario1-weight.html">Goal/chf-scenario1-weight</a> Goal/chf-scenario1-weight</li>
  <li><a href="Goal-chf-scenario1-weight-change.html">Goal/chf-scenario1-weight-change</a> Goal/chf-scenario1-weight-change</li>
</ul>
