<ul>
	<li><a href="ValueSet-opioids-with-ambulatory-abuse-potential.html">Opioids with Ambulatory Abuse Potential</a> <p>ValueSet containing an example subset of opioid medication formulations used in ambulatory settings that have the potential for misuse or abuse. Includes opioid drugs not restricted to surgical use that can be used in ambulatory setting. Excludes formulations with dose form Topical Cream(RXCUI 316982) or Topical Solution(RXCUI 316986) and ingredients available in surgery. NOTE: This is a deliberately reduced value set for example purposes.</p>
	</li>
</ul>
