<ul>
  <li><a href="ActivityDefinition-activity-example-generatereport.html">Activity Example Generate Report</a> <p>Example Activity Definition for a recommendation to generate a report</p>
  </li>
  <li><a href="ActivityDefinition-chf-report-bodyweight.html">CHF Report Body Weight</a> <p>Record body weight metric</p>
  </li>
  <li><a href="ActivityDefinition-chf-report-bodyweight-change.html">CHF Report Body Weight Change</a> <p>Record body weight change metric</p>
  </li>
  <li><a href="ActivityDefinition-chf-report-urine-out.html">CHF Report Urine Out</a> <p>Record urine output metric</p>
  </li>
</ul>
