<table class="list">
	<tr>
		<th><b>Example</b></th>
	</tr>
	<tr>
		<td><a href="ActivityDefinition-opioidcds-riskassessment-request.html">RiskAssessment request activity</a></td>
	</tr>
	<tr>
		<td><a href="ActivityDefinition-cc-cpg-activity-edu-hypertension.html">Patient education: Managing Your High Blood Pressure (Hypertension)</a></td>
	</tr>
	<tr>
		<td><a href="ActivityDefinition-cc-cpg-activity-edu-renal-diet.html">Patient education: Renal diet</a></td>
	</tr>
	<tr>
		<td><a href="ActivityDefinition-cc-cpg-activity-lab-creatinine.html">Lab: Creatinine, Urine Random, Once</a></td>
	</tr>
	<tr>
		<td><a href="ActivityDefinition-cc-cpg-activity-lab-metabolic.html">Lab: Comprehensive Metabolic Panel, Once</a></td>
	</tr>
	<tr>
		<td><a href="ActivityDefinition-cc-cpg-activity-referral-dietition.html">Referral: Dietitian; History: chronic kidney disease; Question: [add reason for referral]</a></td>
	</tr>
	<tr>
		<td><a href="ActivityDefinition-cc-cpg-activity-referral-nephrology.html">Referral: Nephrology; History: [add diagnosis, symptom(s)]; Question: [add reason for referral]</a></td>
	</tr>
</table>
