<table class="list">
<tr><td><b>Example Name</b></td><td><b>id</b></td><td colspan="4"><b>Format</b></td></tr>
<tr><td><a href="ValueSet-opioids-with-ambulatory-abuse-potential.html">Example of an expression-based value set</a></td><td>opioids-with-ambulatory-abuse-potential</td><td><a href="ValueSet-opioids-with-ambulatory-abuse-potential.xml.html">XML</a></td><td><a href="ValueSet-opioids-with-ambulatory-abuse-potential.json.html">JSON</a></td><td><a href="ValueSet-opioids-with-ambulatory-abuse-potential.ttl.html">Turtle</a></td><td></td></tr><tr><td colspan="4">&nbsp;</td></tr>
</table>



