<ul>
  <li><a href="Library-ANCCommon.html">WHO Antenatal Care Guidelines Common Logic</a> <p>Decision Support Logic for use in</p>
 </li>
  <li><a href="Library-ANCRecommendationA2.html">WHO Antenatal Care Guidelines Logic for recommendation #A2</a> <p>Decision Support Logic for use in</p>
 </li>
  <li><a href="Library-CHF.html">Congestive Heart Failure Logic</a> <p>Logic for an example congestive heart failure pathway</p>
 </li>
  <li><a href="Library-CKDRiskLogic.html">Chronic Kidney Disease (CKD) risk screening logic</a> <p>Chronic Kidney Disease (CKD) risk screening logic</p>
 </li>
  <li><a href="Library-HepBAdultForecasting.html">Logic for Immunization Forecasting of Hepatitis B Vaccine for Adults &gt;= 18 Years of Age</a> <p>If an adult patient has not been immunized for Hep B and is indicated for a Hep B vaccine, providers should administer according to this forecast.</p>
 </li>
  <li><a href="Library-omtklogic.html">OMTK Logic</a> <p>Opioid Management Terminology Knowledge Base Logic for use in implementing CDC Opioid Prescribing Guidelines.</p>
 </li>
  <li><a href="Library-OpioidCDSR4Common.html">Opioid CDS R4 Common Logic</a> <p>Common Opioid Decision Support Logic for use in implementing CDC Opioid Prescribing Guidelines.</p>
 </li>
  <li><a href="Library-OpioidCDSR4Recommendation05.html">Opioid CDS R4 Logic for recommendation #5</a> <p>Opioid Decision Support Logic for use in implementing CDC Opioid Prescribing Guidelines.</p>
 </li>
  <li><a href="Library-activity-example-administermedication.html">Activity Example - Administer Medication Collection</a> <p>Asset collection of artifacts in the Administer Medication activity example</p>
 </li>
  <li><a href="Library-AdministerMedication.html">Administer Medication</a> <p>Logic for an example recommendation to administer a medication</p>
 </li>
  <li><a href="Library-CollectInformation.html">Collect Information</a> <p>Logic for an example recommendation to collect information</p>
 </li>
  <li><a href="Library-DispenseMedication.html">Dispense Medication</a> <p>Logic for an example recommendation to dispense a medication</p>
 </li>
  <li><a href="Library-DocumentMedication.html">Document Medication</a> <p>Logic for an example recommendation to document a medication</p>
 </li>
  <li><a href="Library-DoNotCollectInformation.html">Do Not Collect Information</a> <p>Logic for an example recommendation not to collect information</p>
 </li>
  <li><a href="Library-DoNotSendMessage.html">Do Not Send Message</a> <p>Logic for an example recommendation not to send a message</p>
 </li>
  <li><a href="Library-EnrollPatient.html">Enroll Patient</a> <p>Logic for an example recommendation to enroll a patient in a pathway</p>
 </li>
  <li><a href="Library-GenerateReport.html">Generate Report</a> <p>Logic for an example recommendation to generate a report</p>
 </li>
  <li><a href="Library-OrderMedication.html">Order Medication</a> <p>Logic for an example recommendation to order a medication</p>
 </li>
  <li><a href="Library-OrderService.html">Order Service</a> <p>Logic for an example recommendation to order a service</p>
 </li>
  <li><a href="Library-ProposeDiagnosis.html">Propose Diagnosis</a> <p>Logic for an example recommendation to propose a diagnosis</p>
 </li>
  <li><a href="Library-RecommendImmunization.html">Recommend Immunization</a> <p>Logic for an example recommendation to recommend an immunization</p>
 </li>
  <li><a href="Library-RecordDetectedIssue.html">Record Detected Issue</a> <p>Logic for an example recommendation to record a detected issue</p>
 </li>
  <li><a href="Library-RecordInference.html">Record Inference</a> <p>Logic for an example recommendation to record an inference</p>
 </li>
  <li><a href="Library-ReportFlag.html">Report Flag</a> <p>Logic for an example recommendation to record an inference</p>
 </li>
  <li><a href="Library-SendMessage.html">Send Message</a> <p>Logic for an example recommendation to send a message</p>
 </li>
</ul>
