<ul>
  <li><a href="Measure-chf-bodyweight.html">CHF Body Weight Metric</a> <p>Body weight metric as a feature of a congestive heart failure pathway</p>
 </li>
  <li><a href="Measure-chf-bodyweight-change.html">CHF Body Weight Change Metric</a> <p>Body weight change metric as a feature of a congestive heart failure pathway</p>
 </li>
  <li><a href="Measure-chf-urine-out.html">CHF Urine Out Metric</a> <p>Urine output metric as a feature of a congestive heart failure pathway</p>
 </li>
  <li><a href="Measure-activity-example-generatereport.html">Activity Example Generate Report</a> <p>Example measure for the activity example to generate a report</p>
 </li>
</ul>
