<ul>
  <li><a href="Communication-scenario8.html">Communication/scenario8</a> Communication/scenario8</li>
  <li><a href="Communication-dnsm-scenario1.html">Communication/dnsm-scenario1</a> Communication/dnsm-scenario1</li>
  <li><a href="Communication-dnsm-scenario2.html">Communication/dnsm-scenario2</a> Communication/dnsm-scenario2</li>
  <li><a href="Communication-dnsm-scenario3.html">Communication/dnsm-scenario3</a> Communication/dnsm-scenario3</li>
  <li><a href="Communication-dnsm-scenario7.html">Communication/dnsm-scenario7</a> Communication/dnsm-scenario7</li>
  <li><a href="Communication-dnsm-scenario8.html">Communication/dnsm-scenario8</a> Communication/dnsm-scenario8</li>
  <li><a href="Communication-sm-scenario4.html">Communication/sm-scenario4</a> Communication/sm-scenario4</li>
  <li><a href="Communication-sm-scenario5.html">Communication/sm-scenario5</a> Communication/sm-scenario5</li>
  <li><a href="Communication-sm-scenario6.html">Communication/sm-scenario6</a> Communication/sm-scenario6</li>
  <li><a href="Communication-sm-scenario7.html">Communication/sm-scenario7</a> Communication/sm-scenario7</li>
</ul>
