<ul>
	<li><a href="GraphDefinition-chf-caseplansummarydefinition.html">CHFCasePlanSummaryDefinition</a> <p>Definition of the case plan summary document for a congestive heart failure pathway</p>
	</li>
	<li><a href="GraphDefinition-chf-casesummarydefinition.html">CHFCaseSummaryDefinition</a> <p>Definition of the case summary document for a congestive heart failure pathway</p>
	</li>
	<li><a href="ImplementationGuide-chf.html">Congestive Heart Failure Care Pathway</a> <p>Request to measure oxygen saturation as part of a congestive heart failure pathway</p>
	</li>
</ul>
