<table class="list">
	<tr>
		<th><b>Example</b></th>
		<th><b>id</b></th>
		<th colspan="2"><b>Format</b></th>
	</tr>
	<tr>
		<td><a href="CodeSystem-cpg-common-persona.html">Common persona code system</a></td>
		<td>cpg-common-persona</td>
		<td><a href="CodeSystem-cpg-common-persona.xml.html">XML</a></td>
		<td><a href="CodeSystem-cpg-common-persona.json.html">JSON</a></td>
	</tr>
	<tr>
		<td><a href="CodeSystem-cpg-common-process.html">Common process code system</a></td>
		<td>cpg-common-persona</td>
		<td><a href="CodeSystem-cpg-common-process.xml.html">XML</a></td>
		<td><a href="CodeSystem-cpg-common-process.json.html">JSON</a></td>
	</tr>
	<tr>
		<td><a href="CodeSystem-cpg-indicator.html">Guidance indicator code system</a></td>
		<td>cpg-common-persona</td>
		<td><a href="CodeSystem-cpg-indicator.xml.html">XML</a></td>
		<td><a href="CodeSystem-cpg-indicator.json.html">JSON</a></td>
	</tr>
	<tr>
		<td><a href="CodeSystem-cpg-recommendation-direction.html">Recommendation direction code system</a></td>
		<td>cpg-common-persona</td>
		<td><a href="CodeSystem-cpg-recommendation-direction.xml.html">XML</a></td>
		<td><a href="CodeSystem-cpg-recommendation-direction.json.html">JSON</a></td>
	</tr>
</table>
