<ul>
  <li><a href="PlanDefinition-anc-contact.html">PlanDefinition - WHO ANC Guideline Contact</a> ANC_Contact</li>
  <li><a href="PlanDefinition-chf-daily-management.html">CHF Daily Management</a> <p>Daily management strategy as part of a care pathway for patients with admitting diagnosis of congestive heart failure</p>
  </li>
  <li><a href="PlanDefinition-chf-hypervolemia.html">CHF Hypervolemia</a> <p>Hypervolemia strategy as part of a care pathway for patients with admitting diagnosis of congestive heart failure</p>
  </li>
</ul>
