<table class="list">
	<tr>
		<th><b>Example</b></th>
		<th><b>id</b></th>
		<th colspan="2"><b>Format</b></th>
	</tr>
	<tr>
		<td><a href="PlanDefinition-anc-contact-schedule.html">ANC Contact Schedule Pathway Definition</a></td>
		<td>anc-contact-schedule</td>
		<td><a href="PlanDefinition-anc-contact-schedule.xml.html">XML</a></td>
		<td><a href="PlanDefinition-anc-contact-schedule.json.html">JSON</a></td>
	</tr>
	<tr>
		<td><a href="PlanDefinition-cpg-common-pathway.html">CPG Common Pathway Definition</a></td>
		<td>cpg-common-pathway</td>
		<td><a href="PlanDefinition-cpg-common-pathway.xml.html">XML</a></td>
		<td><a href="PlanDefinition-cpg-common-pathway.json.html">JSON</a></td>
	</tr>
</table>
