<ul>
  <li><a href="PlanDefinition-anc-recommendation-a2.html">PlanDefinition - WHO ANC Guideline Recommendation #A2</a> Recommendation_A2</li>
  <li><a href="PlanDefinition-chf-bodyweight.html">CHF Body Weight</a> <p>Measure body weight daily</p>
  </li>
  <li><a href="PlanDefinition-chf-bodyweight-change.html">CHF Body Weight Change</a> <p>Measure body weight change daily</p>
  </li>
  <li><a href="PlanDefinition-chf-cardiology-consultation.html">CHF Cardiology Consultation</a> <p>Cardiology consultation within 24 hrs</p>
  </li>
  <li><a href="PlanDefinition-chf-creatinine.html">CHF Creatinine</a> <p>Monitor creatinine</p>
  </li>
  <li><a href="PlanDefinition-chf-egfr.html">CHF eGFR</a> <p>Monitor eGFR</p>
  </li>
  <li><a href="PlanDefinition-chf-jvp.html">CHF Jugular Venous Pressure</a> <p>Measure jugular venous pressure</p>
  </li>
  <li><a href="PlanDefinition-chf-lasix.html">CHF LASIX</a> <p>Administer LASIX IV, transition to PO as appropriate</p>
  </li>
  <li><a href="PlanDefinition-chf-net-io.html">CHF Net IO</a> <p>Measure net intake/output daily</p>
  </li>
  <li><a href="PlanDefinition-chf-o2-sat.html">CHF Oxygen Saturation</a> <p>Monitor oxygen saturation</p>
  </li>
  <li><a href="PlanDefinition-chf-potassium.html">CHF Potassium</a> <p>Monitor potassium</p>
  </li>
  <li><a href="PlanDefinition-chf-urine-out.html">CHF Urine Out</a> <p>Measure urine output daily</p>
  </li>
  <li><a href="PlanDefinition-ckd-risk-screening.html">Chronic Kidney Disease (CKD) risk screening</a> <p>Chronic Kidney Disease (CKD) risk screening</p>
  </li>
  <li><a href="PlanDefinition-va-ckd-recommendations.html">VA CKD Recommendations</a> <p>VA CKD Recommendations</p>
  </li>
  <li><a href="PlanDefinition-HepBAdultForecasting.html">Immunization Forecasting of Hepatitis B Vaccine for Adults &gt;= 18 Years of Age</a> <p>If an adult patient has not been immunized for Hep B and is indicated for a Hep B vaccine, providers should administer according to this forecast.</p>
  </li>
  <li><a href="PlanDefinition-opioidcds-r4-recommendation-05.html">CDC Opioid Prescribing Guideline Recommendation #5</a> <p>When opioids are started, providers should prescribe the lowest effective dosage.</p>
  </li>
  <li><a href="PlanDefinition-activity-example-administermedication.html">Activity Example Administer Medication</a> <p>Example Plan Definition for a recommendation to administer a medication</p>
  </li>
  <li><a href="PlanDefinition-activity-example-collectinformation.html">Activity Example Collect Information</a> <p>Example Plan Definition for a recommendation to collect information</p>
  </li>
  <li><a href="PlanDefinition-activity-example-dispensemedication.html">Activity Example Dispense Medication</a> <p>Example Plan Definition for a recommendation to dispense a medication</p>
  </li>
  <li><a href="PlanDefinition-activity-example-documentmedication.html">Activity Example Document Medication</a> <p>Example Plan Definition for a recommendation to document a medication</p>
  </li>
  <li><a href="PlanDefinition-activity-example-donotcollectinformation.html">Activity Example Do Not Collect Information</a> <p>Example Plan Definition for a recommendation not to collect information</p>
  </li>
  <li><a href="PlanDefinition-activity-example-donotsendmessage.html">Activity Example Do Not Send Message</a> <p>Example Plan Definition for a recommendation not to send a message</p>
  </li>
  <li><a href="PlanDefinition-activity-example-enrollment.html">Activity Example Enrollment</a> <p>Example Plan Definition for a recommendation to enroll a patient</p>
  </li>
  <li><a href="PlanDefinition-activity-example-generatereport.html">Activity Example Generate Report</a> <p>Example Plan Definition for a recommendation to generate a report</p>
  </li>
  <li><a href="PlanDefinition-activity-example-ordermedication.html">Activity Example Order Medication</a> <p>Example Plan Definition for a recommendation to order a medication</p>
  </li>
  <li><a href="PlanDefinition-activity-example-orderservice.html">Activity Example Order Service</a> <p>Example Plan Definition for a recommendation to order a service</p>
  </li>
  <li><a href="PlanDefinition-activity-example-proposediagnosis.html">Activity Example Propose Diagnosis</a> <p>Example Plan Definition for a recommendation to propose a diagnosis</p>
  </li>
  <li><a href="PlanDefinition-activity-example-recommendimmunization.html">Activity Example Recommend Immunization</a> <p>Example Plan Definition for a recommendation to provide an immunization</p>
  </li>
  <li><a href="PlanDefinition-activity-example-recorddetectedissue.html">Activity Example Record Detected Issue</a> <p>Example Plan Definition for a recommendation to record a detected issue</p>
  </li>
  <li><a href="PlanDefinition-activity-example-recordinference.html">Activity Example Record Inference</a> <p>Example Plan Definition for a recommendation to record an inference</p>
  </li>
  <li><a href="PlanDefinition-activity-example-reportflag.html">Activity Example Report Flag</a> <p>Example Plan Definition for a recommendation to report a flat</p>
  </li>
  <li><a href="PlanDefinition-activity-example-sendmessage.html">Activity Example Send Message</a> <p>Example Plan Definition for a recommendation to send a message</p>
  </li>
</ul>
