<div id="segment-footer" class="segment">  <!-- segment-footer -->
  <div class="container">  <!-- container -->
   <div class="inner-wrapper">
    <p>
        &copy; HL7.org {{site.data.info.copyrightyear}} (<a href="{{site.data.fhir.ig.contact[0].telecom[0]}}">{{site.data.fhir.ig.publisher}}</a>). {{site.data.fhir.packageId}}#{{site.data.fhir.igVer}} based on <a style="color: #81BEF7" href="http://hl7.org/fhir/R4">FHIR v4.0.0</a> generated {{site.data.fhir.genDay}}.
        <br/>
        <span>
        Links: <a style="color: #81BEF7" href="index.html">Home</a> 
        | <a href="qa.html">QA Report</a>
        | <a style="color: #81BEF7" href="history.html">Version History</a>
        | <a style="color: #81BEF7" rel="license" href="{{ site.data.fhir.path }}license.html"><img style="border-style: none;" alt="CC0" src="cc0.png"/></a> 
        | <a style="color: #81BEF7" target="_blank" href="http://gforge.hl7.org/gf/project/fhir/tracker/?action=TrackerItemAdd&amp;tracker_id=677">Propose a change <img style="text-align: baseline" src="external.png"/></a>
        </span>
        <br/>
      </p>
      
   </div>  <!-- /inner-wrapper -->
  </div>  <!-- /container -->
 </div>  <!-- /segment-footer -->
  <!-- disqus thread -->
  <!-- disqus -->
  <!-- end disqus -->

 <div id="segment-post-footer" class="segment hidden">  <!-- segment-post-footer -->
  <div class="container">  <!-- container -->
  </div>  <!-- /container -->
 </div>  <!-- /segment-post-footer -->

      <!-- JS and analytics only. -->
      <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"> </script>     <!-- note keep space here, otherwise it will be transformed to empty tag -> fails -->
<script src="dist/js/bootstrap.min.js"> </script>
<script src="assets/js/respond.min.js"> </script>

<script src="assets/js/fhir.js"> </script>

  <!-- Analytics Below
================================================== -->
</body>
</html>