<p>FHIR profiles are a key aspect of supporting interoperable computable content, providing a formal mechanism for defining the data elements used by computable content, as well as conformance expectations for the computable content itself. Readers of this implementation guide should be familiar with the <a href="http://hl7.org/fhir/R4/profiling.html">Profiling FHIR</a> topic in the base specification.</p>

<p>This page provides overview documentation for the following categories of profiles and documentation:</p>

<ul>
  <li><b><a href="#artifact-profiles">Artifact Profiles</a></b>: Profiles for shareable knowledge artifacts</li>
  <li><b><a href="#domain-profiles">Domain Profiles</a></b>: Domain profiles such as Case/Plan and Metric</li>
  <li><b><a href="#activity-profiles">Activity Profiles</a></b>: Activity profiles such as MedicationRequest</li>
  <li><b><a href="#content-profiles">Content Profiles</a></b>: Documentation on using profiles with CPG content</li>
</ul>

<p>For indexes of profiles and extensions defined in this implementation guide, see the following:</p>

<ul>
  <li><b><a href="artifacts.html#profile-index">Profile Index</a></b>: Alphabetical profile listing</li>
  <li><b><a href="artifacts.html#extension-index">Extension Index</a></b>: Alphabetical extension listing</li>
  <li><b><a href="examples.html#profile-index">Example Profile Index</a></b>: Alphabetical listing of profiles used in examples</li>
</ul>

<a name="artifact-profiles"> </a>
<h3>Artifact profiles <a href="profiles.html#artifact-profiles" title="link to here" class="self-link"></a></h3>

<p>For definitional artifacts, this implementation guide defines profile classes to represent knowledge capabilities for shareable, computable, publishable, and executable knowledge artifacts. All knowledge artifacts must be at least shareable, and where appropriate for the target environment, artifacts should declare the capabilities they support using the [cpg-knowledgeCapability](StructureDefinition-cpg-knowledgeCapability.html) extension, as well as the knowledge representation level of the artifact using the [cpg-knowledgeRepresentationLevel](StructureDefinition-cpg-knowledgeRepresentationLevel) extension, as defined in the shareable profiles.</p>

<ul>
  <li><b>Shareable</b>: Shareable profiles set the minimum expectations for exchanging an artifact, including the URL, version, name, and publisher.</li>
  <li><b>Computable</b>: Computable profiles deal with authoring and design-time considerations, describing the minimum expectations for exchanging a machine-readable representation of an artifact. At a minimum, a computable artifact is one that does not have <i>only</i> human-readable content.</li>
  <li><b>Publishable</b>: Publishable profiles describe the expectations for publication and distribution of an artifact, typically as part of an artifact repository.</li>
  <li><b>Executable</b>: Executable profiles deal with run-time behavior and implementation considerations. For example, an executable library may contain compiled content that can be directly executed by an engine. At a minimum, an executable artifact is guaranteed to have all the elements required to support at least one operation appropriate to the type of artifact.</li>
</ul>

<p>These capabilities are introduced to support separation of concerns along the spectrum from authoring to distribution to consumption, as illustrated by the following diagram:</p>

<img src="knowledge-capabilities.png" alt="Knowledge Capabilities" width="500"/>

<p>A given artifact may provide all knowledge capabilities (Shareable plus Computable, Publishable, and Executable), or it may be focused on a particular capability. For example, a ValueSet may be only Shareable and Executable because it is intended for use in environments without access to a terminology service capable of expanding the Computable value set.</p>

<p>Note that explicit profiles for capabilities are only defined when there are specific elements of the artifact involved in supporting that capability. For example, there is no executable ActivityDefinition profile, but that doesn't mean that ActivityDefinition artifacts cannot be executable, only that there are no additional conformance expectations for executable ActivityDefinitions specified by this implementation guide.</p>

{% include profile-tables/artifact-profiles.html %}

<p>
<a name="exec">*</a> - Conformance expectations covered by the Computable profile<br/>
<a name="comp">**</a> - Conformance expectations covered by the Shareable profile
</p>

<a name="domain-profiles"> </a>
<h3>Domain Profiles <a href="profiles.html#domain-profiles" title="link to here" class="self-link"></a></h3>

<p></p>

{% include profile-tables/domain-profiles.html %}

<p>Examples of the use of these profiles are available in the Examples page. In particular, see the <a href="examples-chf.html">Congestive Heart Failure Pathway</a> example.</p>

<a name="activity-profiles"> </a>
<h3>Activity Profiles <a href="profiles.html#activity-profiles" title="link to here" class="self-link"></a></h3>

<p>To represent the activities in a computable guideline, this implementation guide follows the workflow patterns established by the base FHIR specification, <i>definition</i>, <i>request</i>, and <i>event</i>. For each type of activity, these profiles establish at least:</p>

<ul>
  <li>Definitional activity profiles
    <ul>
      <li>kind - The type of request resource being defined</li>
      <li>profile - The minimum profile that must be met by request resources produced by the activity definition</li>
      <li>intent - The target intent, typically proposal, of the request resources</li>
    </ul>
  </li>
  <li>Request activity profiles
    <ul>
      <li>source reference - Typically the instantiatesCanonical element to refer back to the guideline content</li>
      <li>identity - Typically via an identifier element to establish identity of the activity</li>
    </ul>
  </li>
  <li>Event activity profiles
    <ul>
      <li>source reference - Typically the instantiatesCanonical element to refer back to the guideline content</li>
      <li>request reference - Typically the basedOn element to refer back to the request which the event is fulfilling</li>
      <li>identity - Typically via an identifier element to establish identity of the activity</li>
    </ul>
  </li>
</ul>

<p>Note that the intent of these profiles is not to establish the content of the activity, only to ensure that requests and events related to guideline-based care can be traced back to the recommendation, strategy, pathway, and ultimately guideline they are representing.</p>

{% include profile-tables/activity-profiles.html %}

<p>See the <a href="examples-activities.html">Activity Examples</a> for a complete example of each of the above activity types.</p>

<a name="content-profiles"> </a>
<h3>Content Profiles <a href="profiles.html#content-profiles" title="link to here" class="self-link"></a></h3>

<p>In addition to the profiles defined by this implementation guide, computable content generally deals with two broad categories of profiles:</p>

<ul>
<li><b>Interoperability Profiles</b> that establish standards of data exchange between systems</li>
<li><b>Computability Profiles</b> that define the data expectations for computable content</li>
</ul>

<a name="interoperability-profiles"> </a>
<h4>Interoperability Profiles <a href="profiles.html#interoperability-profiles" title="link to here" class="self-link"></a></h4>

<p>Interoperability profiles establish standards of data exchange between systems, and are typically defined in and distributed as part of <i>model</i> implementation guides. To be useful, these profiles will generally be established across a broad range of systems, all operating in a particular environment, or in support of a particular set of use cases. Examples of these types of profiles are:</p>

<ul>
  <li><a href="http://hl7.org/fhir/uv/ips/"><b>International Patient Summary</b></a>: International, specialty-agnostic, condition-independent patient summary</li>
  <li><a href="http://fhir.hl7.org.au/fhir/base/history.shtml"><b>AU Base</b></a>: Base Australian national implementation guide</li>
  <li><a href="http://hl7.org/fhir/us/core/"><b>US Core Profiles</b></a>: Base US national implementation guide</li>
  <li><a href="http://hl7.org/fhir/us/qicore/"><b>QI Core Profiles</b></a>: US-based quality improvement profiles</li>
</ul>

<a name="computability-profiles"> </a>
<h4>Computability Profiles <a href="profiles.html#computability-profiles" title="link to here" class="self-link"></a></h4>

<p>Computability profiles describe the data expectations for computable content, and are typically defined in and distributed as part of <i>content</i> implementation guides. For example, given the following condition:

<pre><code>
define "Active Ambulatory Opioid Rx":
  [MedicationRequest: "Ambulatory Abuse Potential Opioids"] Rx
    where Rx.status = 'active'
		  and Rx.category contains "Outpatient"
</code></pre>

<p>In this example, the condition is referencing the <code>status</code> and <code>category</code> elements of the <code>MedicationRequest</code> resource. In order for this logic to be evaluated effectively, the system providing the <code>MedicationRequest</code> instance must understand these two elements and provide data for them if it is available. Computability profiles are used to communicate this information through FHIR profiles.</p>

<p>Note that for logic expressed in CQL, this information can be inferred by static analysis of the CQL expressions and is exposed statically in the <code>dataRequirement</code> element of the <code>Library</code> resource. In addition, the <a href="http://hl7.org/fhir/R4/library-operation-data-requirements.html"><code>$data-requirements</code></a> operation can be used to extract this information from a CQL Library dynamically.</p>

<a name="implementation-considerations"> </a>
<h4>Implementation Considerations <a href="profiles.html#implementation-considerations" title="link to here" class="self-link"></a></h4>

<p>Content conforming to this IG <b>SHOULD</b> select a set of base interoperability profiles appropriate for the intended target. For international usage, implementation guides conforming to this IG <b>SHOULD</b> use International Patient Summary.</p>

<p>In general, implementation of any given computable content is based on the intersection of the interoperability and computability profiles. As such, content authors must take care not to define computability profiles that conflict with interoperability profiles in their intended target scope.</p>